services:
  db:
    image: postgres:16-alpine
    environment:
      - POSTGRES_DB=pedidos11
      - POSTGRES_USER=pedidos11
      - POSTGRES_PASSWORD=pedidos11
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  web:
    build: .
    depends_on:
      - db
    environment:
      - DEBUG=False
      - SECRET_KEY=${SECRET_KEY:-change-me}
      - ALLOWED_HOSTS=backend.projetohavoc.shop
      - CSRF_TRUSTED_ORIGINS=https://backend.projetohavoc.shop
      - CORS_ALLOWED_ORIGINS=https://backend.projetohavoc.shop
      - USE_X_FORWARDED_HOST=True
      - USE_PROXY_SSL_HEADER=True
      - CSRF_COOKIE_DOMAIN=projetohavoc.shop
      - SESSION_COOKIE_DOMAIN=projetohavoc.shop
      - DEFAULT_SUPERUSER_USERNAME=${DEFAULT_SUPERUSER_USERNAME:-}
      - DEFAULT_SUPERUSER_PASSWORD=${DEFAULT_SUPERUSER_PASSWORD:-}
      - DEFAULT_SUPERUSER_EMAIL=${DEFAULT_SUPERUSER_EMAIL:-}
      - DEFAULT_SUPERUSER_RESET_PASSWORD=${DEFAULT_SUPERUSER_RESET_PASSWORD:-False}
      - DB_ENGINE=postgres
      - DB_NAME=pedidos11
      - DB_USER=pedidos11
      - DB_PASSWORD=pedidos11
      - DB_HOST=db
      - DB_PORT=5432
      - GUNICORN_WORKERS=3
    ports:
      - "8000:8000"
    command: /app/entrypoint.sh
volumes:
  pgdata:
